<div class="container-fluid">
  <div class="row" role="banner">
    <div class="col-md-6 text-center">
      <img
        class="img-fluid"
        src="https://raw.githubusercontent.com/PedroSalvino/small-works/7e79496aeb074a522508d4e1bc471aca15d5c279/src/assets/g10.svg"
        alt=""
      />
    </div>
    <div class="col my-auto text-center">
      <h1>Small Works!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <div class="row" role="main"></div>

  <div class="row" role="form"></div>
</div>
